# Rust's output directory
target

# Local docs
context/

# Local settings
.soroban
.stellar

# Generated reference bindings (from `make generate-interfaces`)
generated/

# Misc
.DS_Store

# E2E test output topology
/tests/e2e/env/*-out.toml